<h1>Pizzas</h1>

<%= link_to "New Pizza", new_pizza_path %>

<div id="pizzas">
    <% @pizzas.each do |pizza| %>
        <div>
            <%= link_to pizza.name, pizza %>
        </div>
    <% end %>
</div>